
@model List<MVCCourse.Models.DogViewModel>



<h1>Hello World</h1>
<p>This is the index Page of Hello World Controller</p>

<ul>
	@foreach(var dog in Model){
		<li>
			@dog.Name (@dog.Age)
		</li>
	}
</ul>
